.footer {
    text-align: center;
    color: white;
    font-family: "Nunito Sans", serif;
    padding: 20px;
    bottom: 0;
    font-size: small;
    width: 100%;
    background: rgba (0, 0, 0, 0.7);
}

.footer p {
    margin: 0;
    padding-bottom: 3rem;
}

